<!-- 	<a href="<%= pages_two_path %>" data-turbolinks="true" data-remote: 'true'> click me </a>
 -->
<form>
	<!--Countries-->
	<select id='cty'>
		<option>Australia</option>
		<option>Mex</option>
	</select>
	<!--Cities-->
	<select id='city'>
		<option>GDL</option>
	</select>

</form>