<!-- 	<a href="<%= pages_two_path %>" data-turbolinks="true" data-remote: 'true'> click me </a>
 -->
<form>
	<!--Countries-->
	<% if dime_si(10) %>
		<select id='cty'>
			<% get_all_countries.each do |array| %>
			  <option value="<%= array.last %>"><%= array.first %></option>
			<% end %>
		</select>
		<!--Cities-->
		<select id='city'>
			<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
		</select>
	<% end %>

</form>


//Valor en el combo de city se manda a servidor como argumento.